@use 'variables' as *;

.banner {
  width: 100%;
  overflow: hidden;
  position: relative;

  &::before {
    content: '';
    position: absolute;
    inset: 0;
    z-index: 1;
    pointer-events: none;
    background:
      linear-gradient(to right, $color-dark 0%, transparent 30%),
      linear-gradient(to left, $color-dark 0%, transparent 30%);
  }

  &::after {
    content: '';
    position: absolute;
    bottom: 0;
    left: -10%;
    width: 120%;
    height: 150px;
    z-index: 1;
    pointer-events: none;
    background: radial-gradient(ellipse at 50% -20%, transparent 55%, $color-dark 75%);
  }

  &__img {
    width: 100%;
    height: 500px;
    object-fit: cover;
    display: block;
  }
}
