@use 'variables' as *;

*, *::before, *::after {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

html {
  scroll-behavior: smooth;
}

body {
  font-family: $font-body;
  background-color: $color-dark;
  color: $color-text;
  line-height: 1.6;
}

h1, h2, h3, h4 {
  font-family: $font-heading;
}

a {
  text-decoration: none;
  color: inherit;
}

ul {
  list-style: none;
}

img {
  max-width: 100%;
  display: block;
}
